# Configurações de Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/atendimento_mvp?schema=public"

# Configurações de Segurança
JWT_SECRET="sua_chave_secreta_super_segura_aqui"
JWT_EXPIRES_IN="1d"

# Configurações da API
PORT=3000
