# Configurações de Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/atendimento?schema=public"

# Configurações de Segurança
JWT_SECRET="sua_chave_secreta_super_segura_aqui"
JWT_EXPIRES_IN="1d"

# Configurações da API
PORT=3000

# Configurações do Banco Legado (MySQL) para Migração ETL (Está na mesma VPS)
LEGACY_DB_HOST="mssql" # IP do Gateway do Docker, IP público da VPS ou nome do container legado
LEGACY_DB_PORT=3306
LEGACY_DB_USER="root"
LEGACY_DB_PASSWORD="root"
LEGACY_DB_NAME="bjsoft18_portal"

# Fuso Horário
TZ="America/Sao_Paulo"
