:host ::ng-deep .po-page-login {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  min-height: 100vh !important;
  width: 100vw !important;
}

:host ::ng-deep .po-page-login-panel {
  margin: 0 !important;
  border-radius: 12px !important;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6) !important;
  background-color: rgba(255, 255, 255, 0.92) !important;
  backdrop-filter: blur(8px);
  max-width: 450px !important;
  width: 90% !important; /* Ajuste para telas pequenas */
}

:host ::ng-deep .po-page-login-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Esconder elementos desnecessários do PO-UI que podem quebrar o centro em telas pequenas */
:host ::ng-deep .po-page-login-footer {
    background: transparent !important;
}
