<po-page-list p-title="Empresas">
  <div class="po-row" style="margin-bottom: 16px;">
    <po-button p-label="Nova Empresa" p-icon="po-icon-plus" (p-click)="openCreate()"></po-button>
  </div>

  <po-table [p-items]="empresas" [p-columns]="columns" [p-actions]="actions" [p-loading]="loading"></po-table>
</po-page-list>

<po-modal p-title="Empresa" #modal>
  <div class="po-row">
    <po-input class="po-md-12" p-label="Nome" [ngModel]="formData.nome" (ngModelChange)="formData.nome = $event"></po-input>
  </div>

  <po-modal-footer>
    <po-button p-label="Salvar" p-kind="primary" [p-loading]="saving" (p-click)="save()"></po-button>
  </po-modal-footer>
</po-modal>
