# DATABASE CONFIG
# No modelo híbrido, esta é a URL do pool compartilhado (saas_shared)
DATABASE_URL="postgresql://admin:shared_password@localhost:5432/saas_pool?schema=public"

# MASTER DATABASE CONFIG (Controle de Tenants)
MASTER_DATABASE_URL="postgresql://admin:master_password@localhost:5431/saas_control?schema=public"

# SECURITY
JWT_SECRET="mude_isso_em_producao"
JWT_EXPIRATION="1d"

# APP CONFIG
PORT=3000
NODE_ENV=development
